In [20]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [34]:
data = pd.read_csv('recs_synthetic.csv')
data = data.sort_values(['user_id', 'score'], ascending=[True, False])
data['rnk'] = data.groupby('user_id').cumcount()
data.head()

   user_id     score  target  total_actions  rnk
0        0  0.993668       1             17    0
1        0  0.896899       0             17    1
2        0  0.875116       1             17    2
3        0  0.844549       0             17    3
4        0  0.837955       0             17    4

In [35]:
def confusion_labels(df, k):
    df['pred'] = df['rnk'].apply(lambda x: 1 if x < k else 0)
    
    df['tp'] = df[['target', 'pred']].apply(lambda x: 1 if x[0]==x[1]==1 else 0, axis=1)
    df['tn'] = df[['target', 'pred']].apply(lambda x: 1 if x[0]==x[1]==0 else 0, axis=1)
    df['fp'] = df[['target', 'pred']].apply(lambda x: 1 if x[0]!=x[1] and x[0]==0 else 0, axis=1)
    df['fn'] = df[['target', 'pred']].apply(lambda x: 1 if x[0]!=x[1] and x[0]==1 else 0, axis=1)
    labels = df[['tp', 'tn', 'fp', 'fn']].sum()
    return labels['tp'], labels['tn'], labels['fp'], labels['fn']

In [40]:
def precision_at(df, k):
    tp, tn, fp, fn = confusion_labels(df, k)
    return tp/(tp+fp)

def recall_at(df, k):
    tp, tn, fp, fn = confusion_labels(df, k)
    return tp/(tp+fn)

In [45]:
precision_at(df=data, k=8), precision_at(df=data, k=30)

(0.323125, 0.33303333333333335)

In [46]:
recall_at(df=data, k=8), recall_at(df=data, k=30)

(0.25873285957361625, 1.0)